.mensaje-contenedor{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    .flex-item{
    text-align: center;
    margin: auto;
    width: 300px;
    height: 300px;
    }
    .mens-foto{
        height: 50%;
        width: 50%;
    }
    }